<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col class="f-center" size="12">
          <img class="header-about" src="../../assets/img/about.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="pb-0 pt-10">
          App desarrollada por:
        </ion-col>
        <ion-col size="12">
            <h1 style="font-weight: bold">ROY PARRA TORRES</h1>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6">
              <ion-icon name="bookmarks"></ion-icon>
          </ion-col>
          <ion-col size="6">
              <ion-icon name="person"></ion-icon>
            </ion-col>
        </ion-row>
      <ion-row>
        <ion-col size="6" class="pb-0 plr-10">
          <strong>Para el curso de:</strong>
        </ion-col>
        <ion-col size="6" class="pb-0 plr-10">
           <strong>A cargo de:</strong>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6" class="pt-0 plr-10">
            Marketing Empresarial
          </ion-col>
          <ion-col size="6" class="pt-0 plr-10">
             Alejandro Rea Morales
            </ion-col>
        </ion-row>
        <ion-row class="f-center pt-10">
            <ion-col size="6" class="f-b">
                <a href="https://facebook.com/anthony.parratorres" target="_blank" onclick="window.open(this.href, '_system');"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://rparra12.github.io/eTrami/" target="_blank" onclick="window.open(this.href, '_system');"><ion-icon name="globe"></ion-icon></a>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col size="12">
              <ion-button expand="block" color="secondary" (click)="returnHome()">Regresar</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>
