<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trámites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-list class="container">
    <ion-item class="container" *ngFor="let item of data[0].tramites">
        <ion-card class="container" class="welcome-card" (click)="navigationPage(item.id)">
            <img src="/assets/shapes.svg" alt="" />
            <ion-card-header style="background: white">
              <ion-card-subtitle>Costo: S/{{item.costo_tramite}}.00</ion-card-subtitle>
              <ion-card-title style="font-weight: bold">{{item.nombre_tramite}}</ion-card-title>
            </ion-card-header>
            <ion-card-content style="background: white">
              <p>{{item.descripcion}}</p>
            </ion-card-content>
          </ion-card>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  </div>
</ion-content>
