<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
  <ion-grid>
   <ion-row>
     <ion-col class="f-center" size="12">
       <img class="img-header" src="../../assets/img/icon.png">
     </ion-col>
     <ion-col class="f-center" size="12">
        <strong><h1 style="font-weight: bold">¡Bienvenidos!</h1></strong>
      </ion-col>
      <ion-col class="f-center" size="12" style="top: -23px">
          Aquí encontrarás...
        </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="6" class="f-center">
          <img class="col-img" src="../../assets/img/doc.svg">
       </ion-col>
       <ion-col size="6" class="f-center">
          <img class="col-img" src="../../assets/img/list.svg">
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col size="6" class="f-center">
          <p class="plr-10">Información de los trámites</p>
      </ion-col>
      <ion-col size="6" class="f-center">
          <p class="plr-10">Los requisitos de los trámites</p>
     </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6" class="f-center">
            <img class="col-img" src="../../assets/img/location-pin.svg">
        </ion-col>
        <ion-col size="6" class="f-center">
            <img class="col-img" src="../../assets/img/bubbles.svg">
       </ion-col>
      </ion-row>
      <ion-row>
       <ion-col size="6" class="f-center">
           <p class="plr-10">El lugar de pago del trámite</p>
       </ion-col>
       <ion-col size="6" class="f-center">
          <p class="plr-10">Sugerencias y recomendaciones</p>
      </ion-col>
     </ion-row>
    <ion-row>
      <ion-col class="f-center" size="12">
          <ion-button style="width: 250px" color="secondary" (click)="enterList()">Comenzar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
