<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
  <ion-grid>
   <ion-row>
     <ion-col class="f-center" size="12">
       <img class="img-header" src="../../assets/img/icon.png">
     </ion-col>
     <ion-col class="f-center" size="12">
        <h1>¡Bienvenidos!</h1>
      </ion-col>
      <ion-col class="f-center" size="12" style="top: -23px">
          Aquí encontrarás...
        </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="6" class="f-center">
          <img class="col-img" src="../../assets/img/doc.svg">
       </ion-col>
       <ion-col size="6" class="f-center">
          <img class="col-img" src="../../assets/img/list.svg">
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col size="6" class="f-center">
          <p>Información de los trámites</p>
      </ion-col>
      <ion-col size="6" class="f-center">
          <p>Los requisitos de los trámites</p>
     </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6" class="f-center">
            <img class="col-img" src="../../assets/img/location-pin.svg">
        </ion-col>
        <ion-col size="6" class="f-center">
            <img class="col-img" src="../../assets/img/bubbles.svg">
       </ion-col>
      </ion-row>
      <ion-row>
       <ion-col size="6" class="f-center">
           <p>El lugar de pago del trámite</p>
       </ion-col>
       <ion-col size="6" class="f-center">
          <p>Sugerencias y recomendaciones</p>
      </ion-col>
     </ion-row>
    <ion-row>
      <ion-col size="12">
          <ion-button expand="block" color="secondary" (click)="enterList()">Comenzar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
