<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{titleHead}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="container">
    <span>
      <div class="formHeader" style="padding-bottom: 15px;">
        <ion-img src="./assets/img/doc1.png"></ion-img>
      </div><br>
      <div class="formBody">
        <div class="row text-col-6">
            <div class="col-6 col-center">
                <p><strong>Código</strong><br>{{dataIndex.codigo_pago}}</p>
            </div>
            <div class="col-6 col-center">
                <p><strong>Costo</strong><br>S/{{dataIndex.costo_tramite}}.00</p>
            </div>
        </div>
          <p style="padding-top: 15px"><strong>Dependencia</strong><br>{{dataIndex.dependencia}}</p>
          <p style="padding-top: 10px; padding-bottom: 10px"><strong>Descripción</strong><br>{{dataIndex.descripcion}}</p>
      </div>

       <ion-grid style="display: contents">
         <ion-row>
           <ion-col size="6">
            <ion-button color="secondary" expand="block" (click)="AlertRequisitos()">Requisitos</ion-button>
           </ion-col>
           <ion-col size="6">
            <ion-button color="secondary" expand="block" (click)="AlertLugar()">Lugar pago</ion-button>
          </ion-col>
         </ion-row>
         <ion-row>
          <ion-col size="12">
            <ion-button color="secondary" expand="block" (click)="AlertSugerencias()">Sugerencias</ion-button>
          </ion-col>
         </ion-row>
       </ion-grid> 
    </span>
  </ion-content>
  